<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Today's Date</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 id="welcomeMessage"></h1>
    <script src="../js/welcomeMessage.js"></script>
</body>
<body>
<h2> Could you please confirm that the information here is right?</h2>
<table>
    <tr>
        <th>Kind of Data</th>
        <th>Data</th>
    </tr>
    <tr>
        <td>First Name</td>
        <td id="fname"> </td>
    </tr>
    <tr>
        <td>last Name</td>
        <!--<td></td>-->
        <td id="lname"></td>
    </tr>
    <tr>
        <td>Age</td>
        <!--<td></td>-->
        <td id="lage"></td>
    </tr>
    <tr>
        <td>Email</td>
        <!--<td></td>-->
        <td id="lemail"></td>
    </tr>
</table>
<script src="../js/welcomeMessage.js"></script>
</body>

</html>